{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["src/rails/index.js"],
      "rules": {
        "no-cond-assign": "off",
        "no-useless-escape": "off"
      }
    }
  ]
}
