{
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "standard-with-typescript",
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": [
        "rails/index.mjs"
      ],
      "rules": {
        "no-cond-assign": "off",
        "no-useless-escape": "off"
      }
    }
  ]
}
